/*## Tipografia Geral ##*/
body{
	background-image: url("img/back.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #58595b;
	overflow-y: scroll;
}

a:hover, a:focus{
	text-decoration: none;
}

h3{
	color: white;
	margin-left: 20px;
	margin-bottom: 18px;
}
/*## ======== ##*/

/*## Tab Bar ##*/
/* Tipografia */
#nome h1{
	font-family: Bebas Neue Regular;
	font-size: 60px;
	letter-spacing: 7px;
	color: #1e3a4f;
	text-align: center;
}

#nome p{
	font-family: Source Sans Pro Light;
	text-align: center;
	color: #1e3a4f;
	font-weight: bold;
}

.tab_titulo{
	color: #1e3a4f;
}
/*==*/

/* Efeito Tab Bar Emotes */
.nav-tabs > li.active> a, .nav-tabs > li.active> a:focus{
	background:rgba(0,0,0,0.2);
	border-radius: 30px;
}

.nav-tabs > li.active> a:hover{
	background-color: rgba(255,255,255,1);
}

.nav-tabs > li > a:hover {
	border-radius: 30px;
	transition: background 0.4s, color 0.4s;
}

.nav-tabs > li > a {
	font-weight: bold;
	transition: background 0.4s, color 0.4s;
}

.page-header {
	border-bottom-color: #1e3a4f;
}

.nav-tabs.nav-justified > li > a {
	border-bottom-color: #1e3a4f;
	border-bottom-width: 2px;
	border-left: none;
	border-right: none;
	border-top: none;
}
 
.nav-tabs.nav-justified > li.active > a, .nav-tabs.nav-justified > li.active > a:focus, .nav-tabs.nav-justified > li.active > a:hover{
	border-bottom-color: #1e3a4f;
	border-bottom-width: 3px;
	border-left: none;
	border-right: none;
	border-top: none;
}

.nav-tabs.nav-justified #icone1, .nav-tabs.nav-justified #icone2, .nav-tabs.nav-justified #icone3, .nav-tabs.nav-justified #icone4{
	float: left;
	position: absolute;
	transition: background 0.4s, color 0.4s;
}

/*-- Sobre Mim --*/
#icone1 {
	width: 29px;
	height: 20px; 
	margin-left: 35px; 
	background-image: url('img/balao.png');
}

.nav-tabs.nav-justified > li.active > a:hover > div > #icone1, .nav-tabs.nav-justified  > li > a:hover > div > #icone1{
	background-image: url('img/balao.png');
}

.nav-tabs.nav-justified > li.active  > a > div > #icone1 {
	background-image: url('img/balao2.png');
}

/*.nav-tabs.nav-justified  > li > a > div > #icone1 {
	background-image: url('img/balao.png');
	transition: background 1s ease-in-out;
}*/
/*-*/

/*-- Curriculo --*/
#icone2 {
	width: 15px;
	height: 26px; 
	margin-left: 60px; 
	background-image: url('img/tie.png');
}

.nav-tabs.nav-justified > li.active > a:hover > div > #icone2, .nav-tabs.nav-justified > li > a:hover > div > #icone2 {
	background-image: url('img/tie.png');
}

.nav-tabs.nav-justified > li.active  > a > div > #icone2 {
	background-image: url('img/tie2.png');
}
/*-*/

/*-- Portfolio --*/
#icone3 {
	width: 23px;
	height: 25px;  
	margin-left: 55px; 
	background-image: url('img/lamp.png');
}

.nav-tabs.nav-justified > li.active > a:hover > div > #icone3, .nav-tabs.nav-justified > li > a:hover > div > #icone3 { 
	background-image: url('img/lamp.png');
}

.nav-tabs.nav-justified > li.active  > a > div > #icone3 {
	background-image: url('img/lamp2.png');
}
/*-*/

/*-- Contato --*/
#icone4 {
	width: 17px;
	height: 25px; 
	margin-left: 60px; 
	background-image: url('img/sign.png');
}

.nav-tabs.nav-justified > li.active > a:hover > div > #icone4, .nav-tabs.nav-justified > li > a:hover > div > #icone4 {
	background-image: url('img/sign.png');
}

.nav-tabs.nav-justified > li.active  > a > div > #icone4 {
	background-image: url('img/sign2.png');
}
/*-*/
/*==*/
/*## ======== ##*/

/*## Sobre Mim ##*/
.marginleft_img{
	margin-left: 20px;
}

#marginleft_email{
	margin-left: 18px;
}

#align_hobbies{
	text-align: center;
}

.Hob_Int {
	margin-left: 20px;
}

.lk_background{
	width: 291px;
	height: 70px;
	position: relative;
	display: flex;
	align-items: center;
	color: #58595b;
}
/*## ======== ##*/

/*## Curriculo ##*/
.titulos_curriculo span{
	color: #1c87e5;
	font-weight: bold;
}

.grid_nivel {
	display: flex;
}

.margin_nivel {
	margin-left: 150px;
	position: absolute;
}

.subtitulos_kill {
	margin-bottom: 8px;
	font-weight: bold;
}

.titulos_curriculo .subtitulos_kill{
	color: #58595b;
}

#box_download div,#box_download span{
	color: white;
}

#box_download .texto_box_contato:hover{
	color: #1e3a4f;
}

#box_download .box_contato{
	background-color: rgba(255,43,27,1);
	width: 220px;
	height: 55px;
}

#box_download .box_contato:hover{
	background-color: rgba(255,43,27,0.8);
}

#box_download .box_contato img{
	margin-left: 15px;
}
/*## ======== ##*/

/*## Portfolio ##*/
#titulos_Projetos h2{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #1c87e5;
}

#titulos_Projetos h1{
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #1c87e5;
}

#titulos_Projetos span{
	font-size: 24px;
	color: #fc584b;
}
.borda_img{
	border: 1px solid #5c1cb8;
}

.margin_img_port{
	margin-left: 40px;
}

.marginbottom_texto{
	margin-bottom: 40px;
}

.link_img{
	display: block;
	margin: 10px 0px 10px 0px;
	position: relative;
}

.image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	overflow: hidden;
	text-align: center;
	background-color: rgba(30,58,79,0.3);
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 450ms ease-out 0s;
	-moz-transition: all 450ms ease-out 0s;
	-o-transition: all 450ms ease-out 0s;
	transition: all 450ms ease-out 0s;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.link_img:hover .image-overlay {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
  	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
}

.image-overlay button, .image-overlay button:focus{
	font-size: 11px;
	background-color: #5c1cb8;
	color: white;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	outline: none;
}

.image-overlay button:hover{
	background-color: #7c25f8;
	color: white;
}
/*## ======== ##*/

/*## Contato ##*/
.titulo_contato{
	font-size: 25px;
	margin-top: 10px;
}

#marginright_whatzapp{
	margin-right: 28px;
}

#marginright_whatzapp img{
	margin-right: 8px;
}

#margintop_email{
	margin-top: 15px;
}

#box_contato2 .texto_box_contato{
	font-size: 15px;
}

#box_contato2 .box_contato {
	height: 155px;
	text-align: center;
	justify-content: center;
	border: none;
	cursor: default;
}

#box_contato2 .box_contato:hover{
	background-color: rgba(0,0,0,0);
}
/*## ======== ##*/

/*## Utilities ##*/
.texto_padrao{
	font-family: "Microsoft Sans Serif";
	font-size: 16px;
}

.texto_box_contato {
	font-size: 20px;
	color: #58595b;
	font-weight: bold;
}

.texto_box_contato:hover {
	color: #f51a25;
}

.margintop_box_contato{
	margin-top: 50px;
	color: #58595b;
}

.marginlef_box_contato{
	margin-left: 48.5px;
}

.marginleft_texto {
	margin-left: 50px;
}

.justificar_texto {
	text-align: justify;
}

.box_contato {
	cursor: pointer;
	width: 291px;
	height: 70px;
	border: 1px solid #58595b;
	position: relative;
	border-radius: 5px;
	display: flex;
	align-items: center;
	transition: background 0.4s, color 0.4s;
}

.box_contato:hover{
	background-color: rgba(30,58,79,0.3);
}

.background2 {
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin-top: 10px;
}

.background3 {
	background-color: #ff2b1b;
	border-radius: 20px;
	position: relative;
	padding-top: 0.02px;
	padding-bottom: 3px;
}

.background_h3 {
	width: 308px;
	height: 35px;
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 17px;
	background-image: url('img/backh3.png');
	background-repeat: no-repeat;
}
/*## ======== ##*/
/*#==============================================#*/


/*#### Media queries ####*/

@media screen and (max-width: 767px) {
	.box_contato, .margintop_box_contato .box_contato, .Hob_Int {
		margin-left: 0px;
	}

	.marginlef_box_contato {
		margin-left: 0px;
		margin-top: 5px;
	}

	.margintop_box_contato{
		margin-top: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.marginleft_texto{
		margin-left: 20px;
	}

	.margin_img_port{
		margin-left: 10px;
		margin-right: 10px;
	}

	#box_download{
		margin-top: 20px;
	}

	#icone1{
		margin-left: 55px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 767px) {
	.marginlef_box_contato,.margintop_box_contato .box_contato {
		margin-top: 10px;
		margin-left: 0px;
	}

	div#icone1, div#icone2, div#icone3, div#icone4{
		opacity: 0;
	}

	.margintop_box_contato{
		margin-top: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#box_download{
		margin-top: 20px;
	}
}